<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>AngularFlask</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.31d6cfe0d16ae931b73c.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.dbc4b0e283c9ab3f0883.js" defer></script><script src="polyfills.002ae4c30277604be62a.js" defer></script><script src="main.339e234bc643c961864a.js" defer></script>

</body></html>